.page-wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: scroll;
  background-color: #383838;
  color: #CCCCCC;
  justify-items: center;
  text-align: center;
}

.header{
  padding: 1rem;
  padding-top: 3rem;
  text-align: center;
}